<!DOCTYPE html>
<html>
  <head>
    <title>HN Obituaries</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :cache => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8"><%= yield %></div>
        <div class="col-xs-6 col-md-4">
          <%= link_to "recent", recent_path %><br />
          <%= link_to "top", top_path %>
        </div>
      </div>
    </div>
  </body>
</html>
